<div id="sunglasses-grid">
    <div class="filters">
        <searchabledropdown
            :options="collection.filters['Catalog Title']"
            @selected="validateSelection"
            placeholder="Please select an option">
        </searchabledropdown>
        {% comment %} <input class="model-search" placeholder="Search your frame model">
        <select class="model-select" v-model="filters.frameModel">
            <option v-for="model in collection.filters['Catalog Title']" :value="model">$%model%$</option>
        </select> {% endcomment %}
    </div>
    <div class="body">
        <ul id="product-grid">
        {%- for product in collection.products -%}
          <li class="grid__item">
                <a class="product-card" href="{{product.url}}">
                    <img
                        src="{{ product.featured_image | image_url: width: 200 }}"
                        width="200"
                        height="200"
                    >
                    <p>{{ product.title }}</p>
                </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
</div>

{% render 'object-collection' %}
<script>
    const { createApp, reactive, ref, computed, watch } = Vue
</script>
<script src="{{ 'searchable-dropdown.js' | asset_url }}"></script>
<script src="{{ 'sunglasses-collection.js' | asset_url }}"></script>

<script>
    const SunglassesCollectionApp = createApp(SunglassesCollectionComponent)
    SunglassesCollectionApp.component('searchabledropdown', SearchableDropDown);
    SunglassesCollectionApp.mount('#sunglasses-grid');
</script>


