<div id="sunglasses-grid">
    <div class="filters">
        <dropdown
            id="model-search"
            :options="collection.filters['Catalog Title'].values"
            @selected="selectFrame($event)"
            placeholder="Search frame model">
        </dropdown>

        <button class="filter-button" @click="filterModal = true">Filters</button>
        <filters
            :active="filterModal"
            :filters="collection.filters"
            @filter="filterFrames($event)"
            @close="filterModal = false">
        </filters>
    </div>
    <div class="body">
        <ul id="product-grid">
        {%- for product in collection.products -%}
          <li class="grid__item">
                <a class="product-card" href="{{product.url}}">
                    <img
                        src="{{ product.featured_image | image_url: width: 200 }}"
                        width="200"
                        height="200"
                    >
                    <p>{{ product.title }}</p>
                </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
</div>

{% render 'object-collection' %}
<script src="{{ 'sunglasses-searchable-dropdown.js' | asset_url }}"></script>
<script src="{{ 'sunglasses-filter-modal.js' | asset_url }}"></script>
<script src="{{ 'sunglasses-collection.js' | asset_url }}"></script>

<script>
    const SunglassesCollectionApp = createApp(SunglassesCollectionComponent);
    SunglassesCollectionApp.component('dropdown', SearchableDropDown);
    SunglassesCollectionApp.component('filters', FilterModal);
    SunglassesCollectionApp.mount('#sunglasses-grid');
</script>


