<div id="sunglasses-grid">
    <div class="filters">
        <SearchableDropDown
            :id="model-search"
            :options="collection.filters['Catalog Title']"
            @selected="validateSelection($event)"
            placeholder="Search frame model">
        </SearchableDropDown>
    </div>
    <div class="body">
        <ul id="product-grid">
        {%- for product in collection.products -%}
          <li class="grid__item">
                <a class="product-card" href="{{product.url}}">
                    <img
                        src="{{ product.featured_image | image_url: width: 200 }}"
                        width="200"
                        height="200"
                    >
                    <p>{{ product.title }}</p>
                </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
</div>

{% render 'object-collection' %}
<script>
    const { createApp, reactive, ref, computed, watch } = Vue
</script>
<script src="{{ 'searchable-dropdown.js' | asset_url }}"></script>
<script src="{{ 'sunglasses-collection.js' | asset_url }}"></script>

<script>
    const SunglassesCollectionApp = createApp(SunglassesCollectionComponent)
    SunglassesCollectionApp.component('SearchableDropDown', SearchableDropDown);
    SunglassesCollectionApp.mount('#sunglasses-grid');
</script>


